<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://unpkg.com/htmx.org@1.9.9"
            integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
            crossorigin="anonymous"></script>

    <title>nveep_v3</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='output.css') }}">
    <style>
        .htmx-indicator {
            display: none;
        }

        .htmx-request .htmx-indicator {
            display: inline;
        }

        .htmx-request.htmx-indicator {
            display: inline;
        }

    </style>


</head>
<body>

<div class="border-b">
    <a class="btn btn-link" href="/">beerlytics</a>
</div>
{% block main %}
{% endblock %}

</body>
</html>