<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{  title }}</title>
</head>
<body style="font-family: system-ui">

<header style="border-bottom: 1px solid #ccc">
    <a style="padding: 10px; display: inline-block" href="/">Beer Board</a>
    •
    <a style="padding: 10px; display: inline-block" href="/styles">Styles</a>
    •
    <a style="padding: 10px; display: inline-block" href="/my-beers">My Beers</a>
</header>

<main style="padding: 10px">
    {% block content %}{% endblock %}
</main>

</body>
</html>