{% extends "_layout.html" %}

{% set title = "My Beers" %}

{% block content %}

    <h1>My Beers</h1>

    {# 2 columns #}
    <div style="display: flex; gap: 20px">
        <div>
            <h2>Styles</h2>

            <a href="?sort_styles=name"   style="{% if sort_styles == 'name' %}font-weight: bold{% endif %}">По названию</a> /
            <a href="?sort_styles=amount" style="{% if sort_styles == 'amount' %}font-weight: bold{% endif %}">По количеству</a>

            {% for style, beers in beers_by_style %}
                <details>
                    <summary><h3 style="display: inline-block">{{ style }} ({{ beers|length }})</h3>
                    </summary>
                    <ol>
                        {% for beer in beers %}
                            <li style="padding: 4px 0">
                                <a href="{{ beer.url }}">{{ beer.brewery }} — {{ beer.name }}</a> ({{ beer.rating }})
                            </li>
                        {% endfor %}
                    </ol>

                </details>
            {% endfor %}
        </div>
        <div>
            <h2>Breweries</h2>
            {% for brewery, beers in beers_by_brewery %}
                <details>
                <summary><h3 style="display: inline-block">{{ brewery }} ({{ beers|length }})</h3></summary>
                <ol>
                    {% for beer in beers %}
                        <li style="padding: 4px 0">
                            <a href="{{ beer.url }}">{{ beer.brewery }} — {{ beer.name }}</a> ({{ beer.rating }})
                        </li>
                    {% endfor %}
                </ol>
                </details>

            {% endfor %}
        </div>

    </div>


{% endblock %}